.o_website_event .ribbon-wrapper {
    width: 60px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }
  .o_field_widget, .o_field_widget input.o_input {
    display: inline-block !important;
  }
  .o_website_event .ribbon {
    font: bold 13px Sans-Serif;
    color: #404040;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 5px 0;
    left: -4px;
    top: 8px;
    width: 90px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  
  .o_website_event .ribbon.ribbon_Gold {
    background-color: #FDE21B;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E9CE0C), to(#FDE21B));
    background-image: -webkit-linear-gradient(top, #E9CE0C, #FDE21B);
    background-image: -moz-linear-gradient(top, #E9CE0C, #FDE21B);
    background-image: -ms-linear-gradient(top, #E9CE0C, #FDE21B);
    background-image: -o-linear-gradient(top, #E9CE0C, #FDE21B);
  }
  
  .o_website_event .ribbon.ribbon_Silver {
    background-color: #CCCCCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BBBBBB), to(#CCCCCC));
    background-image: -webkit-linear-gradient(top, #BBBBBB, #CCCCCC);
    background-image: -moz-linear-gradient(top, #BBBBBB, #CCCCCC);
    background-image: -ms-linear-gradient(top, #BBBBBB, #CCCCCC);
    background-image: -o-linear-gradient(top, #BBBBBB, #CCCCCC);
  }
  
  .o_website_event .ribbon.ribbon_Bronze {
    background-color: #DB9141;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C2792A), to(#DB9141));
    background-image: -webkit-linear-gradient(top, #C2792A, #DB9141);
    background-image: -moz-linear-gradient(top, #C2792A, #DB9141);
    background-image: -ms-linear-gradient(top, #C2792A, #DB9141);
    background-image: -o-linear-gradient(top, #C2792A, #DB9141);
  }
  .o_website_event .event_color_0 {
    background-color: white;
    color: #5a5a5a;
  }
  .o_website_event .event_color_1 {
    background-color: #cccccc;
    color: #424242;
  }
  .o_website_event .event_color_2 {
    background-color: #ffc7c7;
    color: #7a3737;
  }
  .o_website_event .event_color_3 {
    background-color: #fff1c7;
    color: #756832;
  }
  .o_website_event .event_color_4 {
    background-color: #e3ffc7;
    color: #5d6937;
  }
  .o_website_event .event_color_5 {
    background-color: #c7ffd5;
    color: #1a7759;
  }
  .o_website_event .event_color_6 {
    background-color: #c7ffff;
    color: #1a5d83;
  }
  .o_website_event .event_color_7 {
    background-color: #c7d5ff;
    color: #3b3e75;
  }
  .o_website_event .event_color_8 {
    background-color: #e3c7ff;
    color: #4c3668;
  }
  .o_website_event .event_color_9 {
    background-color: #ffc7f1;
    color: #6d2c70;
  }
  