@font-face{
    font-family:'trs-million-rg';
    src: url('../fonts/trs-million-rg.ttf');
   }
   
  body {
    font-family: Arial,Helvetica,sans-serif;
  } 
.digital-clock{
    font-size: 25px;
    font-family: 'trs-million-rg';
    color: #0090DA;
}

.page-wrapper {
    width: 100%;
}

.page-header {
    height: 46px;
    background-color: #0090DA;
}

.page-body {
    position: absolute;
    top: 46px;
    bottom: 0;
    left: 0;
}

.page-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #ebebeb;
    padding: 0;
}

.page-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0; 
}

.order-items { 
    background-color: #fff;
    width: 100%;
    height: 60%;
}

.product-items {
    width: 100%;
    height: 40%;
}

.page-header .header-right {
    position: absolute;
    width: 363px;
    float: right;
    right: 0;
    top: 0;
}

.search-wrapper {
    width: 540px;
    float: left;
    padding: 4px 0 0 4px;
    position: relative;
}

.page-header .header-tab {
    margin: 0 370px 0 540px;
    padding-top: 0;
    height: 46px;
}

.header-barcode-wrapper {
    display: flex;
    align-items: center;
}

.barcode-scan {
    vertical-align: middle;
    display: inline-block;
    background-color: white;
    width: 24px;
    height: 24px; 
    -webkit-mask-box-image: url(../img/quick-sale.6e9876e9.svg);
}

.tabbar {
    height: 46px;
    background-color: #0077b4; 
    padding-left: 0;
    list-style: none;
    padding: 0;
    margin: 0; 
    display: block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px; 
}

.tab-close {
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
    font-size: 14px;
    color: #ddd;
}

.tab-close:hover { 
    color: #f80404!important;
}


.tabbar li { 
  
    /* padding: 0px 10px; */
    /* margin: 5px 0; */
    height: 46px;
    display: inline-block;
    position: relative;
    vertical-align: middle; 
    /* border-right: 1px solid #cfcfcf55; */

}

.tabbar li::before { 
    content: "";
    width: 1px;
    height: 36px;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #00689d;
}

.tabbar .active {  
    background-color: #fff;
    color: #000000;
}

.tab-item .active {   
    color: #000000;
}


.tabbar li:hover {  
    background-color: #0e5d8555;
}


.tabbar .active:hover {  
    background-color: #fff;
}

.tabbar .active::before { 
    content: "";
    width: 1px;
    height: 36px;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #fff!important;
}

.tabbar li a {
    padding: 10px 34px 10px 10px; 
    height: 46px;
    line-height: 46px;  
    text-decoration: none;
    color: #ddd;
    background-color: transparent;
}

 

.header-tab .tab-move {
    height: 46px;
    background-color: #0077b4;
    padding-left: 0;
    /* width: 30px; */
    display: block;
    white-space: nowrap;
    margin-bottom: 0;
}

.header-tab .tab-move li {  
    padding: 10px 5px;
    height: 36px;
    display: inline-block;
    position: relative;
    margin: 5px 0;
    align-items: center;
    vertical-align: middle; 
}

.tab-move li a { 
    height: 36px; 
    color: white; 
}


.header-tab .tab-move-add {
    height: 46px;
    background-color: #0077b4;
    padding-left: 0; 
    display: block;
    white-space: nowrap;
    margin-bottom: 0;
}

.header-tab .tab-move-add li { 
    background-color: #0077b4;
    padding: 10px 5px;
    margin: 5px 0;
    height: 36px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    /* border-right: 1px solid #cfcfcf55; */
    width: 16px;
}


#new-tab {
    height: 46px;
    margin: 0px 0!important;
    border: none!important;
    background-color: #0090DA; 
    padding: 15px 5px;
}
.tab-move-add li a { 
    color: white; 
}

.header-right .navbar {
    height: 46px;
    padding: 0!important;
    background-color:
     #0090da!important;
}

.header-right > nav > div > ul>li .nav-link {
    color: #ddd!important;
}

.header-right > nav > div > ul>li .nav-link:hover {
    color: #efefef!important;
}

.manual-item-header {
    height: 46px;
    border-bottom: 1px solid #ccc;
}

.manual-item {
    height: 40px;
    line-height: 40px;
}

#order-cart-list  .list-group-item{
    padding: 1.35rem 0 1.35rem 1.35rem;
    margin-left: 5px;
}
.list-group-item .btn {
    margin-top: 0!important; 
    width: 30px;
    height: 30px;
    padding: 5px!important;
    border-radius: 15px;
}

.list-group-item .btn:hover {

    background-color: #dbdbdb;
}

.cart-item-order{
    width: 30px;
    float: left;
}

.cart-item-action{
    width: 30px;
    float: left;
    margin-top: -3px;
}

.cart-product-code {
    min-width: 120px;

}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  .number-input .quantity{
      margin: 0 8px;
      width: 56px;
  }

  .number-input .quantity:focus {  
  border-radius: 0!important; 
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
  background-color:  transparent;
  border-bottom: 2px solid green!important; 
}   

.number-input button {
    display: block!important;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 2px;
    outline:none;
    -webkit-appearance: none;
    background-color: transparent; 
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 1.8rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

  .number-input button:hover {
    display: block!important;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 2px;
    outline:none;
    -webkit-appearance: none;
    background-color: transparent; 
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 1.8rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 1.8px;
    background-color:#a8a8a8;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 4rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 0 1px 0;
    font-size: 1.15rem;
    height: 1.8rem;
    text-align: center;
    background-color: transparent;
  }

  .resize-btn {
    border-radius: 12px;
    position: absolute;
    display: table-cell;
    bottom: -12; 
    vertical-align: middle;
    left: 48%;
    background-color: #ececec;
    width: 24px;
    height: 24px; 
    padding: 4px;
    text-align: center;
  }

  .prod-item .prod-image {
      width: 100%;
      height: 77px;
      position: relative;
      padding: 0 15px;
  }

  .prod-image .prod-thumbnail {
    width: 100%;
    height: 100%;
}

.prod-image .prod-price { 
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;

}

.product-item-wrapper .card {
    background-color: transparent!important;
    border: none!important;
}

.product-item-wrapper .card:hover {
    background-color: #fefefe!important; 
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}



 .prod-item .prod-name {
    height: 32px;
    width: 100%;
    font-size: 0.95rem;
    line-height: 15px;
    margin-top: 6px;
  }

  .prod-item {
      height: 132px!important;
      cursor: pointer;
  }

  .cart-item-price {
      font-size: 1.05rem;
      ;
  }

  .cart-item-price .unit-price {
      padding: 3px 0;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
    
  }
  .cart-item-price .unit-price:hover {
    padding: 3px 0;
    border-bottom: 2px solid green;
  
}

 
  .cart-item-total{
      font-size: 1.05rem;
  }

  .popover{
      border: 2px solid #56ad51;
      max-width: 450px;
  }

  .popover-body {
    padding: .65rem .75rem;
    color: #212529;
    width: 330px;
    font-size: 1rem;
}

  .popover-body .form-group{
    margin-bottom: 0.5rem;
  }

  .bs-popover-left .arrow::before {
    right: 0;
    border-left-color: green;
  }

  .bs-popover-left .arrow::after {
    right: 2px;
    border-left-color: #fff;
  }

  .input-bottom-line {
      border: none!important;
      border-bottom: 1px solid #ccc!important;
  }

  .form-group input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: rgb(255,255,255);
    border-bottom: 2px solid green!important;
}

.order-info-row {
    height: 45px;
}

.input-group input {
    border: none;
}

.input-group input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: rgb(255,255,255);
    border-bottom: 2px solid green!important;
   
}

/* .order-customer {
    border-bottom: 1px solid #ccc;
} */

.order-customer .input-group-prepend .input-group-text{
    background-color: transparent;
    border: none;
}

.order-customer .input-group-append .input-group-text{
    background-color: transparent;
    border: none;
}

.order-customer .input-group-append .input-group-text:hover{
    background-color: #dfdfdf;
    border-radius: 22px;
    text-decoration: none;
}


.order-total-payment {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.5rem;
    color:#3d933c;
    font-weight: bold;
}
.order-discount-amount{
    border-bottom: 1px solid #ccc;
}

.order-pay-amount{
    border-bottom: 1px solid #ccc;
}

.payment-method{
    font-size: 1.6rem;
}

.order-discount-amount {
    border-radius: 0!important;
    border-bottom: 1px solid #ccc!important;
}

.order-pay-amount {
    border-radius: 0!important;
    border-bottom: 1px solid #ccc!important;
}

 .modal-xlg {
     width: 70%!important;
     max-width: 70%!important;
 }

 .form-control {
    /* border-radius: 0!important;  */
    border: none;
    /* border-bottom: 1px solid #ccc!important; */

 }

 .form-control:focus{
    
    border-radius: 0!important; 
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    background-color: rgb(255,255,255);
    border-bottom: 2px solid green!important; 
}

.customer-item-row {
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.payment-suggest {
    background-color: #afafaf;
    border-radius: 13px;
    padding: 8px 15px;

}

.payment-item-row {
    height: 60px;
    display: flex;
    align-items: center;
}

.payment-total-digit {
    text-align: right;
    font-size: 1.8rem;
}